/** @format */
$base-color: #cccccc;

body {
  background: $base-color;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.wrapper {
  margin: auto;
  max-width: 1440px;
}

.header {
  background: url("../images/BG-HEADER.jpg");
  height: 300px;

  &__top {
    max-width: 1128px;
    padding: 23px 24px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo-link {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }

  &__dropdown {
    display: none;
  }
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: stretch;

  &__link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    text-decoration: none;
    color: #ffffff;

    &-components,
    &-download {
      margin-right: 30px;
    }
    &-icons {
      margin-right: 24px;
    }

    &-download img {
      padding-right: 6px;
    }
  }
}

main {
  background: #ffffff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2), 0 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  min-height: 400px;
  padding: 17.5px 10px;
  margin: -63px 10px 0;
}

@function convertToEm($size, $from_px) {
  $result: $size / $from_px;
  @return $result + 0em;
}

.profile {
  text-align: center;
  font-size: 16px;
  max-width: 604px;
  // margin: auto;
  // margin-bottom: 71px;
  margin: 0 auto 71px;

  &__picture {
    // зачем картинке font-size 100% или
    // это тоже что и 16px kak у родителя .profile или
    // можно написать inherit?
    font-size: 100%;
    // переводим при помощи  значения (160px) в (em)
    width: convertToEm(160, 16);
    height: convertToEm(160, 16);
    margin-top: convertToEm(-87.5, 16);
  }

  h1 {
    font-weight: 500;
    font-size: convertToEm(25.55, 16);
    line-height: convertToEm(30, 25.55);
    color: #3c4858;
  }
  &__profession {
    font-weight: 300;
    font-size: convertToEm(14, 25.55);
    line-height: convertToEm(16, 14);
    color: #333333;
  }
}

// @mixin  его имя css_sprite ( $ имя файла)
@mixin css_sprite($sprite_name) {
  // задаем каждой картинке параметры w30px h30px
  width: 30px;
  height: 30px;
  background: url(../images/#{$sprite_name}.png) -10px;
}

.studio_icon,
.work_icon,
.favorite_icon {
  // имя файла (css_sprites3.png)
  @include css_sprite(css_sprites3);
}
.studio_icon {
  background-position-y: -10px;
}
.work_icon {
  background-position-y: -60px;
}
.favorite_icon {
  background-position-y: -110px;
}

.gallery {
  &__tab-nav {
    display: flex;
    justify-content: center;
  }

  &__tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3px;
    margin-bottom: 51px;
    align-items: center;
    width: 100px;
    height: 104px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #555555;

    .favorite_icon,
    .studio_icon,
    .work_icon {
      margin: 20px 0 20px 0;
    }
    &:hover {
      background: rgba(200, 200, 200, 0.2);
    }

    &:active,
    &--selected {
      background: #9c27b0;
      box-shadow: 0 4px 20px rgba(156, 39, 176, 0.45);
      color: #fff;
      // зачем этот hover?
      // &:hover {
      // background: #9c27b0;
      // }

      .favorite_icon,
      .studio_icon,
      .work_icon {
        filter: brightness(5);
      }
    }

    &--selected {
      &:hover {
        background: #9c27b0;
      }
    }
  }

  &__photos {
    display: none;

    &--show {
      display: flex;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center;

      img {
        //меняем 262px на 100%
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    margin: 0 7.5px;
  }
}
footer {
  /* background: #d2d2d2; */
  max-width: 1136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-bottom: 46px;
}

.footer-nav {
  /* background: grey; */
}

.footer-nav a {
  /* background: #AB47BC; */
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  text-decoration: none;
  color: #333333;
  padding-right: 25px;
}

.footer-inform {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media only screen and (max-width: 786px) {
  .header__top {
    background: rgba(0, 0, 0, 0.4);
  }
  footer {
    display: block;
  }
  .footer-inform {
    text-align: center;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 655px) {
  .gallery__column {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .profile {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  .main {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 520px) {
  .dropdown {
    display: initial;
  }

  .header__nav {
    display: none;
    position: absolute;
    top: 68px;
    right: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    z-index: 1;
  }

  .dropdown:focus + nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header-nav__link {
    font-size: 24px;
    margin: 0;
    padding: 25px;
  }
  .footer-nav a {
    padding-right: 20px;
  }
}
